.div-home-container {
  /* width: 100vw; */
  margin-bottom: 20px;
}
.diy-home-top {
  width: 80%;
  height: 120px;
  margin: auto;
  display: flex;
  align-items: center;
}
.content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.inputBox {
  display: flex;
  align-items: center;
  width: 823px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 124px;
  /* justify-content: center; */
}
.inputBox input {
  border: none;
  outline: none;
  width: 85%;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  color: rgba(0, 52, 89, 0.61);
}
#icon-diy {
  width: 35px;
  height: 35px;
  margin: auto 10px;
  color: #003459;
}
#create-btn {
  color: #003459;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
}
.diy-btn {
  width: 257px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #003459;
  border-radius: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #cdcdcd;
}
/*================================= Mid================================================== */
.diy-home-mid {
  background: #f5f5f5;
  /* width: 100%; */
  /* margin: auto; */
  text-align: center;
  height: 330px;
}
.categories {
  display: flex;
  align-items: center;
  justify-content: center;
}
.diy-home-mid .heading {
  font-family: "Inter";
  width: 565px;
  margin: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  padding: 30px;
  color: #003459;
}
.category {
  width: 163px;
  height: 172px;
  background: #ffffff;
  border: 1px solid #003459;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 500;
  font-size: 25px;
  margin: 10px 15px;
  color: #003459;
}
.active-cat,
.category:hover {
  margin: 0 6px;
  width: 163px;
  border: 10px solid #003459;
  height: 172px;
}
.category img {
  height: 87px;
  margin-top: 10px;
}
/* ===================================btm========================== */
.diy-home-btm {
  width: 90vw;
  margin: auto;
}
.diy-home-btm .div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.diy-home-btm .heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  text-transform: capitalize;

  color: #003459;
}

/*==============================Frames ========================*/
* {
  margin: 0;
  padding: 0;
}
.frame-container {
  display: flex;
  margin-top: 40px;
}
.frames {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #00345943;
  width: 10%;
  overflow: auto;
}
.frames div {
  background-color: blue;
  /* color: #003459; */
}
.frame-viewer {
  width: 45%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cec9c987;
  /* background-color: black; */
}
.frame-viewer svg {
  font-size: 450px;
}
#frame-div {
  color: grey;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  /* z-index: -5; */
  justify-content: center;
  /* clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%); */
}
.frame-item {
  width: 50px;
  height: 50px;
  background-color: black;
  margin: 10px;
}
#frame {
  width: 400px;
  height: 400px;
  background: black;
  opacity: 1;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
#inner-div {
  color: grey;
  background: blue;
  width: 400px;
  height: 400px;
  /* z-index: -2; */
  border: 1px solid black;
}
h1 {
  position: absolute;
  top: 50% left 50%;
}
/* ====================items========================= */
.items-box {
  width: 90vw;
  margin: 20px auto;
}
.portrait-landscape-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.heading {
  padding: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  text-transform: capitalize;

  color: #003459;
}
